opencv-python
pillow
scipy
aiofiles
xformers==0.0.20
torch==2.0.1
torchvision
transformers>=4.41.2
diffusers>=0.29.0
safetensors
accelerate>=0.31.0
einops
bitsandbytes==0.39.1
tensorboard
absl-py
ml-collections
git@github.com:Eugeoter/waifuset.git@dev
# lion_pytorch